@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.card-display{ 
    display: flex;
}
.button-group{
  padding: 10px;
}
.input-box select{ 
    height: 65px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #F4F4F4;
  }


  .errorMessage{
    text-align: center;
    padding: 2%;
    color: red;
    font-size: 20px;
    font-weight: 900;
  }
 
.input-box-column input{ 
    height: 65px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #F4F4F4;
  }

  .input-box-column input[type="checkbox"]{
    height:15px;
    width: inherit;
  }
  .input-box-column .details{
    margin: 10px;
  }
  .input-box-column{
    margin: 0% 3% 0% 0%;
    width: calc(100% / 2 - 40px);
  }

  .schedule-button{
    border: none !important;
    color: #fff !important;
    background:  rgb(255, 115, 0) !important;
  }
  .schedule-button:hover{
   /* trans: scale(0.99); */
   background: orange !important;
   }
   .schedule-input{
     padding: 0;
   }
   .schedule-form{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 130px;

   }
   .schedule-button-icon-container{
    width: 9% !important;
    margin: 0px 30px 0px 0px !important;
   }
   .schedule-button-icon{
    padding-left: 0 !important;
    border: none !important;
    color: #fff !important;
    background:  rgb(255, 115, 0) !important;
  }
  .schedule-button-icon:hover{
   /* trans: scale(0.99); */
   background: orange !important;
   }