.tooltip-icon {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    color: #a4a2a2;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
  }
  
  .tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  