.direct-bookings-form{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 130px;

   }
 @media(max-width: 584px){
  .direct-bookings-form{
    padding-top: 100px !important;
  }
  }
  @media(max-width: 459px){
  
  .direct-bookings-form{
    padding-top: 80px !important;
  }
}