.add-margin{
    margin-left: 5%;
}
.user-agreement-header {
    background-color: #000000b1;
    height: 70px;
    width: 100%;
}
.container .add-margin-top{
    margin-top: 70px;
}
.terms_content {
    margin: 0px 0 50px 0;
}
.terms-head h4 {
    font-size: 28px;
    background: linear-gradient(93.13deg, #FF9110 0%, #FF5C00 99.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}
.terms-list {
    margin: 25px 0;
}
.terms-list h3 {
    margin-bottom: 10px !important;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}
.terms-list ul {
    list-style-type: disc; /* This is the default, you can also use circle, square, or none */
    padding-left: 2rem;
}
.policy-list ul li {
    font-size: 16px;
    color: #5a5656;
    line-height: 28px;
}