/* Admin Panel */
.admin-layout {
  display: flex;
}

.admin-panel {
  width: 20%;
  min-width: 50px;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

.admin-panel.collapsed {
  width: 70px;
}

.toggle-button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #34495e;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

.nav-text {
  font-size: 1rem;
}

.admin-panel.collapsed .nav-icon {
  margin-right: 0;
}

.admin-panel.collapsed .nav-text {
  display: none;
  
}

/* Main Content */
.main-content {
  margin-left: 70px; /* Collapsed navbar width */
  padding: 20px;
  width: calc(100% - 70px); /* Adjust to the available space */
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.main-content.shifted {
  margin-left: 255px; /* Expanded navbar width */
  width: calc(100% - 200px); /* Adjust to the available space */
}
/* Responsive Design */
@media (max-width: 768px) {
  /* Admin Panel - Mobile View */
  .admin-panel {
    width: 70%;
    min-width: unset;
    transition: transform 0.3s ease, width 0.3s ease;

  z-index: 10;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  /* Navbar Toggle Button */
  .toggle-button {
    display: block;
  }

  .admin-panel.expanded {
    transform: translateX(0);
  }

  .admin-panel.collapsed {
    transform: translateX(-100%);
  }

  .main-content.shifted {
    margin-left: 20%;
    width: 80%;
  }
  /* Navbar Toggle Button */

.toggle-button {
  position: absolute;
  top: 10px;
  right: -30px;
  background-color: #2c3e50;
  color: #ecf0f1;
  border: none;
  font-size: 20px;
  padding: 0px 6px 0 6px;
  cursor: pointer;
  z-index: 15;

}


}