nav {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

.admin-logo {
  width: 70%;
  max-width: 150px; /* Optional: Set a max-width to prevent the logo from getting too large */
  height: auto;
}

.admin-navlink {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 34px;
  flex-grow: 1;
  justify-content: flex-end;
}

.tab-style {
  list-style: none;
  padding: 23px;
}

a li {
  color: white;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .admin-logo {
    width: 50%; /* Adjust width for smaller screens */
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
