.card {
    box-shadow: 0px 6px 20px #00000029;
    transition: 0.3s;
    border-radius: 15px;
    margin: 25px;
    width: 328px;
    height: 475px;

}

.card-image {
    height: 330px;
    border-radius: 15px 15px 0 0;

}

a {
    text-decoration: none;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bg-transparent {
    background-color: transparent !important;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom:none;
    font-size: 1.20rem;
}

.card-container {
    padding: 2px 16px;
}

.card-footer{margin-top: 7%;
    margin-right: 20px;
    height: auto;
    border-top: none;
    background-color:transparent;
    position: absolute;
    bottom: 10px;
}

.card-footer .price{
    color: #288700;
    font-weight: bolder;
    font-size: 1.28rem;
    
}

