.container {
  margin: 50px auto;
  box-shadow: none;
  max-width: 85%;
}

.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="phone"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d3d3d38a;
}
.contact-button {
  margin: 0px !important;
}
.form-group textarea {
  height: 100px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 70px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

.team-text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.thicker {
  font-size: 25px !important;
  font-weight: 600 !important;
  padding-top: 10px;
}

.address {
  font-size: 18px;
  padding-left: 10px;

}

.container-top{
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}
.container-bottom{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.location{
  margin: 6px;
  height: 20px;
}
.address-show {
  display: flex;
  margin: 15px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .thicker {
    font-size: 25px;
    font-weight: 700;
  }
  .vl {
    border-left: 0.5px solid gray;
    height: 450px;
  }
.contact-us-container{
  display: flex;
}
.contactimg img{
  height: 400px !important;
  width: 100%;
}
}

@media only screen and (max-width: 767px) {
  .contactimg img{
    height: 225px !important;
    width: 100%;
  }
  .event .wrapper h1 {
    margin: 31% 0 0 0;
    font-weight: 700;
    font-size: 35px !important;
    text-shadow: 2px 2px 8px #120202b0;
}
.contentbody-contactUs {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  margin-top: -15%;
  position: relative;
  background-color: white;
}
.address {
  font-size: 14px;
  padding-left: 10px;

}
.address-email{
  margin-bottom: 20px;
}
}