.scheduled-contentbody{
       margin-top: 10% !important;
}
.button-group-box{
    display: flex;
    gap: 5px;
}

.scheduled-flex{
    display: flex;
    justify-content: space-between;
    line-height: 3.6rem;
}
.schedule-section-header{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: orange;
}