:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

.title-header{
  font-size: 35px;
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
}
.title-header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background:  rgb(255, 115, 0);;;
}

.button-container .button{
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 12px 0;
  width: 30%;
  gap: 5px;
  float: right;
}

.button-edit-container .button{
  display: flex;
  justify-content: space-between;
  width: 30%;
  gap: 5px;
  margin: auto;
}
.button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background:  rgb(255, 115, 0);
}
.button input:hover{
 /* trans: scale(0.99); */
 background: orange;
 }
 .home{

  margin: -100px 0 0 0;
 }
 
.slide-image {
  height: 700px;
  width: 100%;
  margin-top: -30px;
}
